.DS_Store
logs/*
felix-cache
file-uploads
*.swp
src-tauri/.idea
node_modules
shared/.js
shared/.jvm
project/target
target
tmp
.bsp
.bloop
.history
conf/felix-cache
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
.bsp/
.metals/
.vscode/
